.HotAccessoriesMenu {
    display: flex;
    justify-content: center;
}

.HotAccessorieslink {
    text-decoration: none;
    color: rgb(94, 94, 94);
    margin: 1vmax;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.HotAccessorieslink:hover {
    text-decoration: none;
    color: orangered;
}