.preFooter {
    margin: 5vmax 0 0 0;
    background-color: white;
    padding: 1vmax;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.preFooter>div {
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgba(66, 66, 66, .829);
    cursor: pointer;
}

.preFooter>div:hover svg {
    fill: rgb(34, 34, 34);
}

.preFooter>div:hover p {
    color: rgb(19, 18, 18);
}

.preFooter svg {
    transform: scale(2) translateY(-.2vmax);
    fill: rgba(37, 37, 37, .322);
    margin: 2vmax;
}

/* -------------------- */
.preFooter2 {
    display: grid;
    height: 150px;
    grid-template-columns: repeat(4, 1fr);
}

.preFooter2>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preFooter2>div>p {
    color: rgb(19, 18, 18);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vmax;
    width: 18vmax;
    margin: 0%;

}

.preFooter2>div>span {
    color: rgba(66, 66, 66, .829);
    width: 18vmax;
    font-size: 1vmax;
}

.preFooter2>div>div>input {
    border: none;
    outline: none;
    padding: .5vmax 1vmax;
    border-color: white;
    font-size: 1vmax;
    width: 20.4max;
}

.preFooter2>div>div>button {
    border: none;
    padding: .5vmax;
    background-color: white;
    outline: none;
}

.preFooter2>div>div {
    border: 1px solid rgba(66, 66, 66, .829);
}

.preFooter2>div:nth-child(2)>span {
    width: 22vmax;
}

.preFooter2>div:nth-child(3) {
    justify-content: center;
    align-items: flex-end;
}

.preFooter2>div:nth-child(3)>p {
    width: 14vmax;
}

.preFooter2>div:nth-child(4) {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

.preFooter2>div:nth-child(4)>a {
    cursor: pointer;
    margin: 1vmax;
    fill: rgba(138, 138, 138, .705);
}

.preFooter2>div:nth-child(4)>a:hover {
    fill: rgb(94, 94, 94);

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    background-color: rgb(34, 34, 34);
    color: rgb(197, 197, 197);
    padding: 4.5vmax;
}

.footer>div {
    margin: 1vmax;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.footer>div:nth-child(2) {
    display: block;
}

.footer>div:nth-child(2)>a {
    display: inline-block;
}

.footer>div>a {
    color: rgb(197, 197, 197);
    font-size: 1vmax;
    text-decoration: none;
    margin: .6vmax 0;

}

.footer>div>a:hover {
    color: white;
}

.footer>div:last-child>div {
    width: 45%;
    margin: 1vmax 0;
    font-size: .8vmax;
}

.footer>div:last-child>button {
    width: 50%;
    border: 1px solid white;
    background-color: rgb(34, 34, 34);
    color: white;
    padding: .6max 0;
    font-size: 1vmax;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all .5s;
}

.footer>div:last-child>button:hover {
    background-color: whitesmoke;
    color: rgb(34, 34, 34);
}

.footerBorder {
    background-color: rgb(37, 37, 37);
    color: ivory;
}

.footerBorder>div {
    border-top: 1px solid rgb(197, 197, 197);
    /* color: rgb(37, 37, 37); */
    width: 90vmax;
    margin: auto;
    padding: 2vmax;
    font-size: 1.5vmax;
}